<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add User to Room</h4>
            </div>
            <div class="modal-body text-center">
                <div class="form-group">
                    <select chosen multiple
                            ng-model="selected_users"
                            ng-options="u.id as u.name for u in all_users">
                    </select>
                </div>
                <button class="btn btn-success">Add</button>
            </div>
        </div>
    </div>
</div>